.advantages {
    min-height: 470px;
    background-color: rgb(246, 246, 246);
    padding: 70px 0 78px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: rgb(13, 13, 13);
        text-align: center;     
    }
    &__text {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: rgb(13, 13, 13);
        text-align: center;
        a {
            color: $main_color;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}