.button {
    border-radius: 5px;
    background-color: $main-color;
    width: 150px;
    height: 30px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        width: 300px;
        height: 50px;
        margin-top: 67px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        background-color: rgb(199, 1, 1);
        height: 55px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;       
    }
}