.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
        width: 460px;
        height: 270px;
        padding: 50px 0 60px 0;
    }
    &__address {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    &__phone {
        display: block;
        margin-top: 36px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    &__social {
        margin: 38px 125px 0 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 2px;
            border-color: rgb(255, 255, 255);
            border-style: solid;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            img {
                height: 27px;
            }
        }
    }
}