.title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(13, 13, 13);
    text-align: center;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
    }
}